*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#header{
    background: linear-gradient(to bottom, rgb(69,120,123), rgb(173,176,179), rgb(173,176,179), rgb(173,176,179));
    height: 150px;
}
#header-image{
    height: 75px;
    margin-top: 38px;
    margin-left: 15px;
}
#qr-code{
    margin-left: 25vw;
    display: inline;
    height: 60px;
}
#Enrollment-code{
    width: 450px;
    height: 60px;
}
#Enrollment-button{
    font-size: xx-large;
    color: white;
    background-color:rgb(31,159,162);
    height: 66px;
    width: 100px;
}
#page-links{
    margin-left: 34vw;
}
