*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#body{
    background-repeat: no-repeat;
    background-size: 100vw 115vh;
    animation: animate 10s ease-in-out infinite;
    animation-delay: 0s;
}
@keyframes animate {
    0%, 100%{
        background-image: url(images/nitc.png);
    }
    33%{
        background-image: url(images/chemical-dept.jpg);
    }
    66%{
        background-image: url(images/architech-dept.jfif);
    }
}
#image{
    width: 200px;
    margin-left: 15px;
    margin-top: 15px;
}
#log-in-details{
    margin-left: 20px;
    border: 1px solid black;
    width: 22vw;
    margin-top: 60px;
    background-color: rgba(255,255,255,0.9);
}
#form{
    margin-left: 18px;
    margin-bottom: 10px;
}
#login-button{
    font-size: medium;
    text-align: center;
    width: 70px;
    height: 40px;
    background-color: rgb(31,159,162);
    color: white;
    border: 0;
    cursor: pointer;
}
#login-button:hover{
    background-color: rgb(22, 117, 119);
    border: 2px solid black;
}
.credentials{
    margin-bottom: 8px;
    outline: 1;
    border: 0;
    outline-color: rgb(31,159,162);
    padding: 9px;
    width: 240px;
    height: 15px;
}
#form #Username-error, #form #password-error{
    font-size: 15px;
    color: red;
    background-color: rgba(225, 0, 0, 0.1);
    text-align: center;
    width: 240px;
    display: none;
}
#section-footer{
    margin-top: 10px;
    margin-left: 11vw;
    margin-right: 11vw;
    padding: 2%;
    height: 40px;
    font-size: xx-large;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: white; 
}
#log-details{
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;      
}
#clg-details{
    float: right;
    margin-right: 20px;
}